object {
    pointer-events: none;
}

.navbar-inverse,
.navbar-inverse .navbar-nav>li {
    padding: 0;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a {
    color: #fff;

    margin: 0;
}

.navbar-inverse,
.navbar-inverse .navbar-nav>li,
.navbar-inverse .navbar-nav>.active,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #4479a1;
    border-color: #4479a1;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #faedb2;

    text-decoration: none;
}

body {
    color: #555;

    margin-bottom: 2rem;
}

a,
a:hover,
a:visited {
    color: #00759f;
}

.h1, h1 {
    font-size: 2.6rem;

    margin: 20px 0 25px 0;
    padding: 4px 0 4px 0;
}

.h2, h2 {
    font-size: 1.3rem;

    margin: 24px 0 12px 0;
}

.h2 code,
h2 code {
    margin-right: .5rem;
}

.table,
table,
p {
    margin: 0 0 10px 0;
    padding: 0;
}

.table ul,
table ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ellipsis-container {
    max-width: 20rem;
}

.navbar-brand,
.nav>li>a {
    height: 64px;
    padding: 22px 15px;
}

.navbar-brand {
    padding: 17px 15px;
}

.btn-outline-warning {
    color: #f49200;
    border-color: #f49200;
}

.btn-outline-warning:hover {
    background-color: #f49200;
    border-color: #f49200;
}

.container {
    margin-top: 30px;
}

.transparency {
    opacity: 0;
}

.search-result-query {
    font-weight: lighter;
    margin-left: .5rem;
}

.search-result-query-link {
    font-size: 1rem;
    font-weight: lighter;
    margin-left: .5rem;
}

.search-result-column {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin-right: .25rem;
    padding: .125rem;
}

.search-result-name {
    /**/
}

.search-result-comment {
    margin-left: .25rem;
}

.search-result-hit {
    color: #fff !important;
    background-color: #f49200 !important;
}

.search-result-hit {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    padding: .125rem;
}
