html {
    line-height: normal;
}

body {
    padding-bottom: 3.56rem;
}

object {
    pointer-events: none;
}

nav .brand-logo {
    line-height: 72px;
}

nav input[type="text"]:not(.browser-default) {
    margin: 0 1rem;
    width: inherit;
}

.card-content h2 {
    margin-top: 0;
}

.card-content em {
    display: inline-block;
    margin-top: 1rem;
}

h2 small {
    color: #aaa;
}

table {
    margin-bottom: 1rem;
}

table pre {
    margin: 0.1rem;
}

table pre .hljs {
    padding: 0;
}

ul {
    margin: 0;
}

.index-primary,
.index-unique,
.index-performance {
    display: flex;
}

.index-primary span,
.index-unique span,
.index-performance span {
    margin: auto .125rem;
}

.index-primary {
    color: #f44336;
}

.index-unique {
    color: #ff9800;
}

.index-performance {
    color: #2196f3;
}

nav form {
    margin-left: 1rem;
}

nav .input-field input[type="text"]:valid,
nav .input-field input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: solid 1px;
    -webkit-box-shadow: 0 0 0 0 #fff;
            box-shadow: 0 0 0 0 #fff;
}

.nav-wrapper .input-field input[type="text"]:focus,
.nav-wrapper .input-field input[type="text"]:not(.browser-default) {
    height: 2rem;
}

.input-field .prefix {
    font-size: 1.5rem;
}

.input-field .prefix ~ input {
    margin-left: 2rem;
}

.ribbon {
    position: absolute;
    top: 5rem;
    right: 1rem;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: auto;
    white-space: nowrap;
}

.search-result-hit .search-result-name,
.search-result-hit .search-result-comment {
    color: #f49200 !important;
}
