html {
    line-height: normal;
}

body {
    padding-bottom: 3.56rem;
}

object {
    pointer-events: none;
}

nav .brand-logo {
    line-height: 72px;
}

nav input[type="text"]:not(.browser-default) {
    margin: 0 1rem;
    width: inherit;
}

.card-content h2 {
    margin-top: 0;
}

.card-content em {
    display: inline-block;
    margin-top: 1rem;
}

h2 small {
    color: #aaa;
}

table {
    margin-bottom: 1rem;
}

table pre {
    margin: 0.1rem;
}

table pre .hljs {
    padding: 0;
}

td {
    vertical-align: top;
    line-height: 24px;
}

td .ellipsis {
    display: flex;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: auto;
    white-space: nowrap;
}

.ellipsis-container-search-table {
    max-width: 30rem;
}

.ellipsis-container-search-columns {
    max-width: 40rem;
}

.ellipsis-container-table-type {
    max-width: 8rem;
}

.ellipsis-container-table-column,
.ellipsis-container-table-parent,
.ellipsis-container-table-children {
    max-width: 14rem;
}

.ellipsis-container-table-comment {
    max-width: 20rem;
}

.ellipsis-container-table-nullable {}

.search-result-hit .search-result-name,
.search-result-hit .search-result-comment {
    color: #f49200 !important;
}

ul {
    margin: 0;
}

.index-primary,
.index-unique,
.index-performance {
    display: flex;
}

.index-primary span,
.index-unique span,
.index-performance span {
    margin: auto .125rem;
}

.index-primary {
    color: #f44336;
}

.index-unique {
    color: #ff9800;
}

.index-performance {
    color: #2196f3;
}

.blank i {
    color: transparent;
}

.text-center {
    text-align: center;
}

nav form {
    margin-left: 1rem;
}

nav .input-field input[type="text"]:valid,
nav .input-field input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: solid 1px;
    -webkit-box-shadow: 0 0 0 0 #fff;
            box-shadow: 0 0 0 0 #fff;
}

.nav-wrapper .input-field input[type="text"]:focus,
.nav-wrapper .input-field input[type="text"]:not(.browser-default) {
    height: 2rem;
}

.input-field .prefix {
    font-size: 1.5rem;
}

.input-field .prefix ~ input {
    margin-left: 2rem;
}

.ribbon {
    position: absolute;
    top: 5rem;
    right: 1rem;
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
         left: inherit;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 90%;
    }
}
