<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${title} + ' - shishamo'">header - shishamo</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" media="screen,projection"
          href="../static/materialize/css/materialize.min.css"
          th:href="@{/materialize/css/materialize.min.css}"/>
    <link rel="stylesheet"
          href="../static/app/css/app.css"
          th:href="@{/app/css/app.css}"/>
    <link type="text/css" rel="stylesheet" media="screen,projection"
          href="../static/highlight/css/idea.css"
          th:href="@{/highlight/css/idea.css}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div class="navbar-fixed" th:fragment="navbar (activeMenu)">
    <nav class="light-blue darken-3" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">
                <object id="site-logo" type="image/svg+xml" alt="logo" width="27" height="27"
                        data="../static/app/img/shishamo-nav-logo-w.svg"
                        th:attr="data=@{/app/img/shishamo-nav-logo-w.svg}"></object>
            </a>
            <form class="input-field col s6" type="get"
                  action="/tables/search"
                  th:action="@{'/tables/search'}">
                <ul class="right hide-on-med-and-down">
                    <li class="active" th:class="${activeMenu == 'table'}? 'active'">
                        <a href="tables.html" th:href="@{'/tables'}">Table</a>
                    </li>
                    <li th:class="${activeMenu == 'dataSource'}? 'active'">
                        <a href="data-source.html" th:href="@{'/data-source'}">Data Source</a>
                    </li>
                    <li>
                        <input type="text" name="q" placeholder="Search">
                    </li>
                </ul>
            </form>
        </div>
    </nav>
</div>
<div th:fragment="foot"></div>
<div th:fragment="ribbon">
    <a href="https://github.com/yo1000/shishamo">
        <div class="ribbon">Fork me on GitHub &gt;&gt;</div>
    </a>
</div>
</body>
</html>