<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head (title='Tables ' + ${schemaName})">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tables sample - shishamo</title>
    <link type="text/css" rel="stylesheet" media="screen,projection" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" media="screen,projection" href="../static/materialize/css/materialize.min.css"/>
    <link type="text/css" rel="stylesheet" media="screen,projection" href="../static/app/css/app.css"/>
    <link type="text/css" rel="stylesheet" media="screen,projection" href="../static/highlight/css/idea.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div th:replace="_fragments :: navbar (activeMenu='table')"></div>
<div class="container">
    <h1>Schema</h1>
    <div class="card">
        <div class="card-content">
            <div class="ellipsis">
                <h2 th:text="${schemaName}">sample</h2>
                <table class="bordered table table-striped table-bordered table-hover table-sm">
                    <thead>
                    <tr>
                        <th>Table</th>
                        <th>Children</th>
                        <th>Parent</th>
                        <th>Columns</th>
                        <th>Rows</th>
                        <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="table : ${tables}">
                        <td><a href="table.html" th:href="@{'/tables/' + ${table.name}}"
                               th:text="${table.name}">table1</a></td>
                        <td th:text="${childTableCounts[table.name]}"></td>
                        <td th:text="${parentTableCounts[table.name]}">1</td>
                        <td th:text="${columnCounts[table.name]}">4</td>
                        <td th:text="${table.rowSize}">0</td>
                        <td th:text="${table.comment}">書籍</td>
                    </tr>
                    <!--/*-->
                    <tr>
                        <td><a href="table.html">publisher</a></td>
                        <td>1</td>
                        <td></td>
                        <td>2</td>
                        <td>0</td>
                        <td>出版社</td>
                    </tr>
                    <!--*/-->
                    </tbody>
                </table>
                <em th:text="'Schema contains ' + ${#lists.size(tables)} + ' tables.'">0 tables.</em>
            </div>
        </div>
    </div>
</div>
<div th:replace="_fragments :: ribbon"></div>
<div th:replace="_fragments :: foot"></div>
</body>
</html>